
*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

.container{
    display: flex;
    height: 100%;
}

hr {
  width: 100%;
  height: 2px;

  border: none;
  background-color: rgb(224, 224, 224);

  margin: 0.75rem 0;
}

.sidebar{
    width: 16rem;
    border-right: 1px solid rgb(224, 224, 224);

    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    padding: 0.5rem;
}


.sidebar-option{
    width: 100%;
    height: 2.5rem;
    background-color: rgb(224, 224, 224);
    border-radius: 0.25rem;
}

.sidebar-button{
    height: 3rem;
    background-color: black;
    margin-bottom: 0.75rem;
}

/* MAIN CONTENT */

.content{
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
}

.status-bar{
    height: 4rem;
    border-bottom: 1px solid rgb(224, 224, 224);

    display: flex;
    padding: 0.75rem;
    gap: 0.5rem;
}

.status-bar-button{
    width: 2.5rem;
    height: 100%;
    background-color: rgb(224, 224, 224);
    border-radius: 0.5rem;
}

.status-bar-empty-space{
    flex: 1 1 0;
}

.status-bar-search-button{
    width: 20rem;
    height: 100%;
    background-color: rgb(224, 224, 224);
    border-radius: 0.5rem;
    margin-right: 0.5rem;
}

.main-content{
    flex: 1 1 0;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    overflow: auto;
}


.mail{
    height: 3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: flex;
    gap: 0.75rem;
    display: flex;
    align-items: center;
}

.mail-checkbox{
    width: 1.5rem;
    height: 1.5rem;
    /* height: 100%; */
    background-color: rgb(224, 224, 224);
    border-radius: 0.25rem;
}

.mail-from{
    width: 10rem;
    height: 1.25rem;
    /* height: 100%; */
    background-color: rgb(224, 224, 224);
    border-radius: 0.25rem;
}

.mail-content{
    flex: 1 1 0;
    height: 1.25rem;
    /* height: 100%; */
    background-color: rgb(224, 224, 224);
    border-radius: 0.25rem;
}

.mail-time{
    width: 4rem;
    height: 1.25rem;
    /* height: 100%; */
    background-color: rgb(224, 224, 224);
    border-radius: 0.25rem;
}