*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


html, body{
  height: 100%;
  overflow: hidden;
}

.container{
    display: flex;
    height: 100%;
}

/* Sidebar */
.sidebar{
    width: 16rem;
    height: 100%;
    border-right: 1px solid rgb(224, 224, 224);

    display: flex;
    flex-direction: column;

    padding: 1rem;

    gap: 1rem;
}   

.sidebar-button{
    width: 7rem;
    height: 2.5rem;
    background-color: #171717;
    border-radius: 0.25rem;
}

/* Date Picker */

.date-picker-container{
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    width: 100%;
}

.date-number, .date-day{
    height: 1.5rem;
    color: #000;
    font-size: 0.75rem;
    line-height: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 9999px;
}

.selected-date{
    background-color: #000;
    color: white;
}

.date-day{
    color: #727272;
}

/* Other Sidebar Options */

hr {
  width: 100%;
  height: 1px;

  border: none;
  background-color: rgb(224, 224, 224);

  margin: 0.75rem 0;
}

.other-options-container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.button2{
    width: 5rem;
    height: 1rem;
    background-color: #e4e4e4;
}

.event-details{
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.icon{
    width: 0.75rem;
    height: 0.75rem;
    background-color: #a2a2a2;
    border-radius: 0.25rem;
}

.description{
    height: 1rem;
    flex: 1 1 0;
    background-color: #f5f5f5;
    border-radius: 0.25rem;
}
/* Calender */
.calender-container{
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
}

.calender-navbar{
    height: 3.5rem;
    border-bottom: 1px solid rgb(224, 224, 224);
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
}

.option-container{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.option{
    width: 2rem;
    height: 2rem;
    background-color: rgb(229, 229, 229);
    border-radius: 0.5rem;
}

.option2{
    width: 8rem;
    height: 1.5rem;
    background-color: rgb(229, 229, 229);
    border-radius: 0.5rem;
}

.option3{
    background-color: rgb(229, 229, 229);
    border-radius: 0.5rem;
    display: flex;
    padding: 0.25rem;
}

.block1, .block2, .block3{
    width: 4rem;
    height: 1.75rem;
}

.block1{
    background-color: white;
    border-radius: 0.5rem;
}

.calender-content{
    flex: 1 1 0;
    display: flex;
}

.time-chart{
    width: 4rem;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #e4e4e4;
}

.time{
    flex: 1 1 0;
    padding-right: 0.25rem;
    padding-top: 0.25rem;
    display: flex;
    justify-content: end;
    border-bottom: 1px solid #f5f5f5;

    font-size: 0.75rem;
    line-height: 1rem;
    color: #a8a8a8;
}

.event-chart{
    display: flex;
    flex: 1 1 0;
}

.event-column{
    flex: 1 1 0;
    border-right: 1px solid #f5f5f5;

    display: flex;
    flex-direction: column;
}

.calender-day-container{
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calender-day-container{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #f5f5f5;
}

.cday{
    font-size: 0.75rem;
    line-height: 1rem;

}

.cnumber{
    border-radius: 9999px;

    width: 1.5rem;
    height: 1.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.event-holder{

    flex: 1 1 0;
    position: relative;
    display: flex;
    justify-content: center;
}

.event1{
    position: absolute;
    height: 4rem;
    background-color: #e4e4e4;
    top: 2rem;

    left: 0.25rem;
    right: 0.25rem;

    border-radius: 0.5rem;
}

.event2{
    position: absolute;
    height: 3rem;
    background-color: #000;
    top: 6rem;

    left: 0.25rem;
    right: 0.25rem;

    border-radius: 0.5rem;
}

.event3{
    position: absolute;
    height: 5rem;
    background-color: #d4d4d4;
    top: 1rem;

    left: 0.25rem;
    right: 0.25rem;

    border-radius: 0.5rem;
}