

:root{
    --option-color: rgb(224, 224, 224);
    --button-color: black;
    --default-padding: 15px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}
.container{
    display: flex;
    height: 100%;
}

/* LEFT SIDEBAR */
.left-sidebar{
    /* background-color: red; */
    width: 16rem;
    height: 100%;
    border: 1px solid var(--option-color);
    padding: 0.5rem;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.left-sidebar-option{
    width: 100%;
    height: 2.5rem;
    border-radius: 5px;
    background-color: var(--option-color);
}

.left-sidebar-button{
    height: 3rem;
    background-color: var(--button-color);
}

.left-sidebar-space{
    flex: 1 1 0%;
}

/* CONTENT-PAGE */
.content-page{
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    border: 1px solid var(--option-color);
    padding: 0.5rem 0 0.5rem 0;
}

.empty-space{
    height: 3.5rem;
    border-bottom: 1px solid var(--option-color);
}

.content-section{
    padding: 1rem;
    display: flex;
    overflow: auto;
    flex-direction: column;
    gap: 1rem;
    flex: 1 1 0%;
}

.content1, .content2, .content3{
    background-color: var(--option-color);
    border-radius: 10px;
    height: 10rem;
}

.content2{
    height: 15rem;
}


/* RIGHT-SIDEBAR */
.right-sidebar{
    width: 20rem;
    height: 100%;
    padding: 15px;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.right-sidebar-option{
    height: 2.5rem;
    border-radius: 20px;
    background-color: var(--option-color);
}

.right-sidebar-card1{
    height: 12rem;
    border-radius: 20px;
    background-color: var(--option-color);
}

.right-sidebar-card2{
    height: 16rem;
    border-radius: 20px;
    background-color: var(--option-color);
}