*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


html, body{
  height: 100%;
  overflow: hidden;
}


.container{
    display: flex;
    flex-direction: column;
    height: 100%;
}


/* Navbar 1 */
.navbar1{
    height: 3.5rem;
    border-bottom: 1px solid #e4e4e4;

    display: flex;
    align-items: center;
}

.navbar1-option1{
    width: 10rem;
    height: 1.5rem;
    background-color: #e4e4e4;
    border-radius: 0.25rem;
    margin-left: 2rem;
}

.navbar1-options{
    margin-left: auto;
    margin-right: 2rem;
    display: flex;
    gap: 1rem;
}

.navbar1-option2{
    width: 8rem;
    height: 2rem;
    background-color: #e4e4e4;
    border-radius: 0.25rem;
}

.navbar1-button{
    width: 6rem;
    height: 2rem;
    background-color: #000;
    border-radius: 0.25rem;
}


/* Navbar 2 */
.navbar2{
    height: 3rem;
    border-bottom: 1px solid #e4e4e4;

    display: flex;
    align-items: center;
}

.navbar2-options{
    display: flex;
    margin-left: 2rem;
    gap: 0.5rem;
}

.navbar2-option1, .navbar2-option2, .navbar2-option3{
    height: 1.72rem;
    width: 7rem;
    background-color: #f5f5f5;
    border-radius: 1rem;
}

.navbar2-option4{
    width: 12rem;
    height: 1.75rem;
    margin-left: auto;
    background-color: #f5f5f5;
}

/* Main Content */
.main-content{
    flex: 1 1 0;
    overflow: auto;
}

.main-content-header{
    height: 2.5rem;
    border-bottom: 1px solid #e4e4e4;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
}

.srno-header{
    width: 3rem;
    height: 1.25rem;
    background-color: #e4e4e4;
    border-radius: 0.25rem;
    margin-left: 1rem;
}

.title-header{
    width: 12rem;
    height: 1.25rem;
    background-color: #e4e4e4;
    border-radius: 0.25rem;
    margin-left: 1rem;
}

.description-header{
    width: 10rem;
    height: 1.25rem;
    background-color: #e4e4e4;
    border-radius: 0.25rem;
    margin-left: 1rem;
}

.option1-header{
    width: 8rem;
    height: 1.25rem;
    background-color: #e4e4e4;
    border-radius: 0.25rem;
    margin-left: 1rem;
}

.option2-header{
    width: 8rem;
    height: 1.25rem;
    background-color: #e4e4e4;
    border-radius: 0.25rem;
    margin-left: 1rem;
}

.option3-header{
    width: 6rem;
    height: 1.25rem;
    background-color: #e4e4e4;
    border-radius: 0.25rem;
    margin-left: 1rem;
}

.option4-header{
    width: 6rem;
    height: 1.25rem;
    background-color: #e4e4e4;
    border-radius: 0.25rem;
    margin-left: auto;
    margin-right: 1rem;
}

.main-content-row{
    height: 3.5rem;
    border-bottom: 1px solid #e4e4e4;
    display: flex;
    align-items: center;
}

.srno{
    width: 3rem;
    height: 1.25rem;
    background-color: #e4e4e4;
    border-radius: 0.25rem;
    margin-left: 1rem;
}

.title{
    width: 12rem;
    height: 1.25rem;
    background-color: #e4e4e4;
    border-radius: 0.25rem;
    margin-left: 1rem;
}

.description{
    width: 10rem;
    height: 1.25rem;
    background-color: #e4e4e4;
    border-radius: 0.25rem;
    margin-left: 1rem;
}

.option1{
    width: 8rem;
    height: 1.25rem;
    background-color: #e4e4e4;
    border-radius: 0.25rem;
    margin-left: 1rem;
}

.option2{
    width: 8rem;
    height: 1.25rem;
    background-color: #e4e4e4;
    border-radius: 0.25rem;
    margin-left: 1rem;
}

.option3{
    width: 6rem;
    height: 1.25rem;
    background-color: #e4e4e4;
    border-radius: 0.25rem;
    margin-left: 1rem;
}

.option4{
    width: 6rem;
    height: 1.5rem;
    border-radius: 0.25rem;
    margin-left: auto;
    margin-right: 1rem;

    display: flex;
    gap: 0.5rem;
}

.icon1{
    width: 1.5rem;
    height: 1.5rem;
    background-color: #e4e4e4;
    border-radius: 0.25rem;
}

.icon2{
    width: 1.5rem;
    height: 1.5rem;
    background-color: #e4e4e4;
    border-radius: 0.25rem;
}
/* Footer */
.footer{

    height: 3rem;
    border-top: 1px solid #e4e4e4;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-option1{
    width: 8rem;
    height: 1.25rem;
    border-radius: 0.25rem;
    background-color: #e4e4e4;
    margin-left: 2rem;
}

.footer-icons{
    display: flex;
    gap: 0.5rem;
    margin-right: 2rem;
}

.footer-icon1{
    width: 2rem;
    height: 2rem;
    background-color: #f5f5f5;
    border-radius: 0.25rem;
}

.footer-icon2{
    width: 2rem;
    height: 2rem;
    background-color: #e5e5e5;
    border-radius: 0.25rem;
}

.footer-icon3{
    width: 2rem;
    height: 2rem;
    background-color: #f5f5f5;
    border-radius: 0.25rem;
}

.footer-icon4{
    width: 2rem;
    height: 2rem;
    background-color: #f5f5f5;
    border-radius: 0.25rem;
}

.footer-icon5{
    width: 2rem;
    height: 2rem;
    background-color: #f5f5f5;
    border-radius: 0.25rem;
}

