*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html, body{
  height: 100%;
  overflow: hidden;
}

.container{
    height: 100%;
    display: flex;
}   

/* Navbar */
.navbar{
    width: 4rem;
    background-color: black;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.icon{
    width: 100%;
    height: 3rem;
    background-color: rgb(224, 224, 224);
    border-radius: 0.5rem;
}

.avatar{
    width: 100%;
    height: 3rem;
    background-color: rgb(224, 224, 224);
    margin-top: auto;
    border-radius: 1.5rem;
}

/* Content Page */
.content-page{
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
}

.top-navbar{
    height: 3.5rem;
    border-bottom: 2px solid rgb(224, 224, 224); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.option1{
    width: 12rem;
    height: 1.5rem;
    background-color: rgb(224, 224, 224);
    border-radius: 0.25rem;
}

.set1{
    display: flex;
    gap: 1rem;
}

.option2{
    width: 8rem;
    height: 2rem;
    background-color: rgb(224, 224, 224);
    border-radius: 0.25rem;
}

.button1{
    width: 2rem;
    height: 2rem;
    background-color: rgb(224, 224, 224);
    border-radius: 0.25rem;
}


/* Main Content */
.main-content{
    display: flex;
    flex-direction: column;
    background-color: rgb(224, 224, 224); 
    padding: 2rem;
    gap: 2rem;
    flex: 1 1 0;
}

.cards-container{
    border-radius: 1rem;
    display: flex;
    gap: 2rem;
}

.card{
    height: 7rem;
    width: 25%;
    border-radius: 1rem;
    background-color: white;
}

.analytics-container{
    flex: 1 1 0%;
    border-radius: 1rem;
    display: flex;
    gap: 2rem;
}


/* Analytics */
.analytics{
    flex: 2;
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.title{
    width: 8rem;
    height: 1.5rem;
    background-color: rgb(224, 224, 224); 
    border-radius: 0.25rem;
}

.description{
    flex: 1 1 0;
    background-color: rgb(224, 224, 224); 
    border-radius: 0.25rem;
}


/* Chart */
.chart-container{
    flex: 1;
    background-color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.chart{
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart-content{
    width: 16rem;
    height: 16rem;
    border: 2rem solid black;
    border-top: 2rem solid rgb(224, 224, 224);
    border-radius: 100%;
}

/* Summary */

.summary-container{
    height: 16rem;
    background-color: white;
    border-radius: 1rem;
}

