*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html, body{
  height: 100%;
  overflow: hidden;
}

.container{
    height: 100%;
    display: flex;
    flex-direction: column;
}   

.navbar{
    height: 4rem;
    width: 100%;
    border-bottom: 1px solid rgb(224, 224, 224);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.nav-button{
    height: 2rem;
    width: 8rem;
    background-color: black;
    border-radius: 0.25rem;
    margin-right: 1rem;
}

.search-bar{
    height: 2.5rem;
    width: 20rem;
    background-color: rgb(224, 224, 224);
    border-radius: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
}   

.avatar{
    height: 2rem;
    width: 2rem;
    background-color: rgb(224, 224, 224);
    border-radius: 1rem;
    margin-left: 1rem;
}  

.main{
    flex: 1 1 0;
    display: flex;
}

/* Sidebar */
.sidebar{
    width: 20rem;
    border-right: 1px solid rgb(224, 224, 224);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}

.sidebar-section1{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.sidebar-section1-button{
    width: 6rem;
    height: 1.5rem;
    background-color: black;
    border-radius: 0.25rem;
}
.sidebar-section1-option{
    width: 100%;
    height: 2.5rem;
    background-color: rgb(224, 224, 224);
    border-radius: 0.25rem;
}

.sidebar-section2{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.sidebar-section2-button{
    width: 8rem;
    height: 1.5rem;
    background-color: black;
    border-radius: 0.25rem;
}
.sidebar-section2-option{
    width: 100%;
    height: 0.5rem;
    background-color: rgb(224, 224, 224);
    border-radius: 0.25rem;
}

.sidebar-section3{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.sidebar-section3-button{
    width: 6rem;
    height: 1.5rem;
    background-color: black;
    border-radius: 0.25rem;
}
.sidebar-section3-option{
    width: 100%;
    height: 2rem;
    background-color: rgb(224, 224, 224);
    border-radius: 0.25rem;
}


.sidebar-section4{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.sidebar-section4-button{
    width: 6rem;
    height: 1.5rem;
    background-color: black;
    border-radius: 0.25rem;
}
.sidebar-section4-option{
    width: 100%;
    height: 2rem;
    background-color: rgb(224, 224, 224);
    border-radius: 0.25rem;
}

/* Content Section */
.content-section{
    flex: 1 1 0;
    overflow: auto;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.status-bar{
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.status-bar-button1{
    height: 1.5rem;
    width: 12rem;
    background-color: rgb(224, 224, 224);
    border-radius: 0.25rem;
}


.status-bar-button2{
    height: 2rem;
    width: 8rem;
    background-color: rgb(224, 224, 224);
    border-radius: 0.25rem;
}


.cards{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.row{
    display: flex;
    height: 20rem;
    gap: 1rem;
    flex: 1 1 0;
}

.card{
    flex: 1 1 0;
    background-color: rgb(224, 224, 224);
    border-radius: 1rem;
    overflow: hidden;
}

.image{
    width: 100%;
    height: 10rem;
    background-color: rgb(177, 177, 177);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.details{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;
}

.title{
    border-radius: 0.5rem;
    width: 70%;
    height: 1.5rem;
    background-color: rgb(154, 154, 154);
}

.description{
    border-radius: 0.5rem;
    width: 50%;
    height: 1rem;
    background-color: rgb(154, 154, 154);
}

.amount{
    border-radius: 0.5rem;
    width: 30%;
    margin-top: 0.5rem;
    height: 1.5rem;
    background-color: rgb(177, 177, 177);
}